extends base.pug

block style
  link(rel='stylesheet', href='/static/style.css')

block scripts
  script(src='/static/index.js') 

block content
  section#introSection
    div Welcome to Bhairav's Dance Academy 
    div.small Eat Sleep Dance Repeat  

  section#MissionSection
    h2 Our Mission
    div.card
      h3 Dance Perfection
      .card-box
        .card-img
          img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeAdlntSBH0kVY_DHcl4wddlq1t1O9EoutaXGEKtt9JK-a1VHjvfPq1GOnbn7qWU2ayrk&usqp=CAU")
        .card-content
          p This is the best dance academy of the universe 

    div.card
      h3 Dance the Way You Like
      .card-box
        .card-img
          img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeAdlntSBH0kVY_DHcl4wddlq1t1O9EoutaXGEKtt9JK-a1VHjvfPq1GOnbn7qWU2ayrk&usqp=CAU")
        .card-content
          p This is the best dance academy of the universe  

    div.card
      h3 Expert Teaching
      .card-box
        .card-img
          img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeAdlntSBH0kVY_DHcl4wddlq1t1O9EoutaXGEKtt9JK-a1VHjvfPq1GOnbn7qWU2ayrk&usqp=CAU")
        .card-content
          p This is the best dance academy of the universe  

  section#sponsorsSection
    h2 Our Sponsors
    .sponsor-logo
      img(src="https://thumbs.dreamstime.com/z/riga-latvia-december-apple-logo-aluminium-macbook-laptop-computer-top-85202099.jpg?w=768", alt="our clients")
    .sponsor-logo
      img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSonCiZGC6DkgbGG37PnDujvZpeXKs80yysXvm8uAgmB6fndw9UxqhBqHwGmwzNNMBEHpo&usqp=CAU", alt="our clients")
    .sponsor-logo
      img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Skype_logo.svg/2560px-Skype_logo.svg.png", alt="our clients")
    .sponsor-logo
      img(src="https://1000logos.net/wp-content/uploads/2017/02/Colors-HP-Logo.jpg", alt="our clients")
    .sponsor-logo
      img(src="https://thumbs.dreamstime.com/z/riga-latvia-december-apple-logo-aluminium-macbook-laptop-computer-top-85202099.jpg?w=768", alt="our clients")
