<!DOCTYPE html>
<html>
<head>
    <title>Bhairav Dance Academy</title>
    <link rel="stylesheet" href="../static/style.css"> 
</head>
<body>
    <nav id="navbar">
    <div id="logo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeAdlntSBH0kVY_DHcl4wddlq1t1O9EoutaXGEKtt9JK-a1VHjvfPq1GOnbn7qWU2ayrk&usqp=CAU" alt="logo image">
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/class-info">Class Info</a></li>netstat -ano | findstr :3000
        <li><a href="/contact-us">Contact Us</a></li>
    </ul>
</nav>
    <section id="introSection">
        <div>Welcome to Bhairav's Dance Academy</div>
        <div class="small">Eat Sleep Dance Repeat</div>
    </section>  
     <section id="MissionSection">
    <h2>Our Mission</h2>
    <div class="card">
        <h3>Dance Perfection</h3>
        <div class="card-box">
            <div class="card-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeAdlntSBH0kVY_DHcl4wddlq1t1O9EoutaXGEKtt9JK-a1VHjvfPq1GOnbn7qWU2ayrk&usqp=CAU">
            </div>
            <div class="card-content">
                <p>This is the best dance academy of the universe</p>
            </div>
        </div>
    </div>
    
    <div class="card">
        <h3>Dance the Way You Like</h3>
        <div class="card-box">
            <div class="card-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeAdlntSBH0kVY_DHcl4wddlq1t1O9EoutaXGEKtt9JK-a1VHjvfPq1GOnbn7qWU2ayrk&usqp=CAU">
            </div>
            <div class="card-content">
                <p>This is the best dance academy of the universe</p>
            </div>
        </div>
    </div>
    
    <div class="card">
        <h3>Expert Teaching</h3>
        <div class="card-box">
            <div class="card-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeAdlntSBH0kVY_DHcl4wddlq1t1O9EoutaXGEKtt9JK-a1VHjvfPq1GOnbn7qWU2ayrk&usqp=CAU">
            </div>
            <div class="card-content">
                <p>This is the best dance academy of the universe</p>
            </div>
        </div>
    </div>
</section>


    <section id="sponsorsSection">
    <h2>Our Sponsors</h2>
    <div class="sponsor-logo">
        <img src="https://thumbs.dreamstime.com/z/riga-latvia-december-apple-logo-aluminium-macbook-laptop-computer-top-85202099.jpg?w=768" alt="our clients">
    </div>
    <div class="sponsor-logo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSonCiZGC6DkgbGG37PnDujvZpeXKs80yysXvm8uAgmB6fndw9UxqhBqHwGmwzNNMBEHpo&usqp=CAU" alt="our clients">
    </div>
    <div class="sponsor-logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Skype_logo.svg/2560px-Skype_logo.svg.png" alt="our clients">
    </div>
    <div class="sponsor-logo">
        <img src="https://1000logos.net/wp-content/uploads/2017/02/Colors-HP-Logo.jpg" alt="our clients">
    </div>
    <div class="sponsor-logo">
        <img src="https://thumbs.dreamstime.com/z/riga-latvia-december-apple-logo-aluminium-macbook-laptop-computer-top-85202099.jpg?w=768" alt="our clients">
    </div>
</section>

    </section>
    <footer id="footer">
        Our footer here  
        Copyright 2023 Bhairav Dance Academy.com | All rights reserved 
    </footer>
    <script src="../static/index.js"></script> 
</body> 
</html>    
